[run]
branch = true
parallel = true

source = challenge_1_minion_labor_shifts
         challenge_2_ion_flux_relabeling
         tests

[paths]
source = src
         */site-packages

[report]
fail_under = 100
