[run]
branch = true
parallel = true

source = challenge_1_1_minion_labor_shifts
         challenge_2_1_ion_flux_relabeling
         challenge_2_2_power_hungry
         challenge_3_1_doomsday_fuel
         challenge_3_2_bomb_baby
         challenge_3_3_the_grandest_staircase_of_them_all
         challenge_4_1_running_with_bunnies
         tests

[paths]
source = src
         */site-packages

[report]
fail_under = 100
