[MASTER]
jobs = 0

[MESSAGES CONTROL]
disable = deprecated-method, missing-docstring, no-else-return, ungrouped-imports
good-names = i, j, k, ex, Run, _, n, h, q, xs, m, x, y, s

[FORMAT]
max-line-length = 120
